.homePage {
  background-color: blanchedalmond;
}

.homePage h1 {
  text-align: center;
  flex: 1.5;
}

.pageHeader {
  display: flex;
}

.pageHeader nav {
  display: flex;
  flex-direction: column;
  
}


.homeBody {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}