.homePage {
  background-color: blanchedalmond;
}

.homePage h1 {
  text-align: center;
  flex: 1.5;
}

.pageHeader {
  display: flex;
}

.pageHeader nav {
  display: flex;
  flex-direction: column;
  
}


.homeBody {
  display: flex;
  flex-direction: column;

}

.homeBodyAllPlayersArea {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

.startGameButton {
  margin: 0 auto;
}